<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">入金取引</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">入金取引</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- <div class="card-header">
                        <h3 class="card-title">Quick Example</h3>
                    </div> -->
                    <!-- /.card-header -->

                    <!-- form start -->
                    <form role="form" method="post">
                        <div class="card-body">
                            <% if (messages.message) { %>
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                                <h5>
                                    <i class="icon fa fa-check"></i> Congraturations!</h5>
                                <%= messages.message %>
                            </div>
                            <% } %>

                            <% if (message) { %>
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                                <%- message.replace(/\n/g, '<br>') %>
                            </div>
                            <% } %>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="accountType">口座タイプ</label>
                                    <select class="form-control" id="accountType" name="accountType">
                                        <% accountTypes.forEach((accountType) => { %>
                                        <option value="<%= accountType.codeValue %>"><%= accountType.name.ja %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="amount">金額</label>
                                    <input type="text" class="form-control" id="amount" name="amount" placeholder="金額"
                                        value="<%= values.amount %>">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fromName">From 名称</label>
                                        <input type="text" class="form-control" id="fromName" name="fromName"
                                            placeholder="From 名称" value="<%= values.fromName %>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipientName">To 名称</label>
                                        <input type="text" class="form-control" id="recipientName" name="recipientName"
                                            placeholder="To 名称" value="<%= values.recipientName %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="toAccountNumber">To 口座番号</label>
                                        <input type="text" class="form-control" id="toAccountNumber"
                                            name="toAccountNumber" placeholder="To 口座番号"
                                            value="<%= values.toAccountNumber %>">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description">説明</label>
                                <input type="text" class="form-control" id="description" name="description"
                                    placeholder="説明" value="<%= values.description %>">
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">確認</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->