<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">口座詳細</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a
                            href="/accounts?accountType=<%= account.accountType %>&accountNumber=<%= account.accountNumber %>">口座検索</a>
                    </li>
                    <li class="breadcrumb-item active">口座詳細</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <% if (messages.message) { %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5>
                <i class="icon fa fa-check"></i> Congraturations!</h5>
            <%= messages.message %>
        </div>
        <% } %>

        <% if (message) { %>
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%- message.replace(/\n/g, '<br>') %>
        </div>
        <% } %>

        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-dark card-outline">
                    <div class="card-body box-profile">
                        <!-- <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="" alt="Thumbnail">
                        </div> -->
                        <h3 class="profile-username text-center">
                            <%= account.name %>
                        </h3>

                        <p class="text-muted text-center">
                            <span class="badge <%= account.accountType %>">
                                <%= account.accountType %>
                            </span>
                            <%= account.accountNumber %>
                        </p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Balance</b> <a class="float-right">
                                    <%= account.balance %></a>
                            </li>
                            <li class="list-group-item">
                                <b>Transactions</b> <a class="float-right" id="numTransactions"></a>
                            </li>
                        </ul>

                        <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">About</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fa fa-info mr-1"></i> Name</strong>
                        <p class="text-muted">
                            <%= account.name %>
                        </p>
                        <hr>

                        <strong><i class="fa fa-clock mr-1"></i> Open</strong>
                        <p class="text-muted">
                            <%= account.openDate %>
                        </p>
                        <hr>

                        <strong><i class="fa fa-clock mr-1"></i> Close</strong>
                        <p class="text-muted">
                            <%= account.closeDate %>
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#balanceTransition"
                                    data-toggle="tab">残高遷移</a></li>
                            <li class="nav-item"><a class="nav-link" href="#moneyTransferActions"
                                    data-toggle="tab">取引履歴</a></li>
                            <li class="nav-item"><a class="nav-link" href="#jsonViewer" data-toggle="tab">JSON
                                    Viewer</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#others" data-toggle="tab">その他の操作</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="balanceTransition">
                                <div class="card bg-dark-gradient">
                                    <div class="card-header no-border">
                                        <h3 class="card-title">
                                        </h3>

                                        <div class="card-tools">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart" id="balanceChart" style="height: 400px;"></div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>

                            <div class="tab-pane" id="moneyTransferActions">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>Action Type<br>Start Date<br>End Date<br>Status</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Amount<br>Description</th>
                                                <th>Transaction</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>

                            <div class="tab-pane" id="jsonViewer">
                                <div class="form-group">
                                    <textarea class="form-control" rows="20" placeholder=""
                                        disabled=""><%= JSON.stringify(account, null, '\t') %></textarea>
                                </div>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="settings">
                                <!-- form start -->
                                <form role="form" method="post">
                                </form>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="others">
                                <!-- general form elements -->
                                <div class="card card-primary">
                                    <!-- <div class="card-header">
                                        <h3 class="card-title">その他の操作</h3>
                                    </div> -->
                                    <!-- /.card-header -->

                                    <div class="card-body">
                                        <!-- <button type="button" class="delete btn btn-danger">削除する</button> -->
                                    </div>
                                    <!-- /.card-body -->
                                    <!-- <div class="card-footer">
                                        </div> -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap4.css">
<script src="/js/accounts/show.js"></script>