<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>Pecorino Console</title>
</head>

<body>
    <h1>
        <%= accountNumber %>の転送アクション検索</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">出入</th>
                    <th scope="col">アクションタイプ</th>
                    <th scope="col">完了日時</th>
                    <th scope="col">ステータス</th>
                    <th scope="col">取引</th>
                    <th scope="col">from</th>
                    <th scope="col">to</th>
                    <th scope="col">金額</th>
                    <th scope="col">説明</th>
                </tr>
            </thead>
            <tbody>
                <% actions.forEach(function(action){ %>
                    <tr>
                        <th scope="row">
                            <%= (action.fromLocation.accountNumber === accountNumber) ? '出' : '入' %>
                        </th>
                        <td>
                            <%= action.typeOf %>
                                <br>
                                <%= action.id %>
                        </td>
                        <td>
                            <%= action.endDate %>
                        </td>
                        <td>
                            <%= action.actionStatus %>
                        </td>
                        <td>
                            <%= action.purpose.typeOf %>
                                <br>
                                <%= action.purpose.id %>
                        </td>
                        <td>
                            <%= action.fromLocation.name %>
                                <br>
                                <%= action.fromLocation.accountNumber %>
                        </td>
                        <td>
                            <%= action.toLocation.name %>
                                <br>
                                <%= action.toLocation.accountNumber %>
                        </td>
                        <td>
                            <%= action.amount %>
                        </td>
                        <td>
                            <%= action.description %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>